.searchBar {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    user-select: none;
    font-family: Arial, sans-serif;

    .input {
        width: 250px;
        height: 50px;
        color: #fff;
        background: #1e1e1e;
        border: none;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-radius: 0;
    }

    .search {
        background-color: #1e1e1e;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 50px;
        padding: 0;
        border: none;
        text-indent: 0;
        background: #1e1e1e url('../../assets/search-icon.svg') center center no-repeat;
        background-size: 50% auto;
    }
}