.headerImg {
    margin-top: 30px;
}

.showsDiv {
    margin-top: 30px;
    border-top: 3px solid #ec1927;
}

h2 {
    font-size: 2.7rem;
    font-weight: normal;
    color: #a2a8ab;

    span {
        color: #000;
    }
}