.titlesDiv {
    background-color: #232828;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid #3a4242;
    
    h1, h4 {
        font-weight: bold;
        font-family: "Roboto", "Verdana", "Arial", sans-serif;
        margin-left: 10px;
    }

    h4 {
        color: #FFF;
        margin-bottom: 0;
    }

    h1 {
        color: #c7ced2;
        margin-top: 0;
        font-size: 2rem;
    }
}

.display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}